<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Citas Médicas</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">
              <i class="fas fa-hospital"></i> Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">
              <i class="fas fa-user"></i> Login
            </a>
          </li>
          <li class="nav-item">   
            <a class="nav-link" routerLink="/services" routerLinkActive="active">
              <i class="fas fa-stethoscope"></i> Servicios
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/specialties" routerLinkActive="active">
              <i class="fas fa-user-md"></i> Especialidades
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active">
              <i class="fas fa-address-book"></i> Contactos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/medico-login" routerLinkActive="active">
              <i class="fab fa-medrt"></i> Soy Médico
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>